IONOS_AI_BASE_URL=https://openai.inference.de-txl.ionos.com/v1
IONOS_MODEL=bge-m3
IONOS_API_KEY=dein_ionos_api_key
CHROMA_URL=http://chromadb:8000
DATABASE_URL=mysql+asyncmy://user:pass@mariadb/tenantrag
